<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PR DB管理画面</title>
</head>

<body>
  <h1>プロジェクトリサーチ 英単語アプリ 管理者用ページ</h1>
  <p></p>

  <h2>登録されているユーザー一覧（Usersテーブル）</h2>
  <p>※ passwordは見えません</p>

  <table border="1">
    <thead>
      <tr>
        <th>id</th>
        <th>email</th>
        <th>username</th>
        <th>role</th>
        <th>signup_date</th>
        <th>login_date</th>
        <th>個人成績</th>
      </tr>
    </thead>

    <tbody>
      {% for useritem in userdata %}
      <tr>
        <td>{{useritem[0]}}</td>
        <td>{{useritem[1]}}</td>
        <td>{{useritem[2]}}</td>
        <td>{{useritem[3]}}</td>
        <td>{{useritem[4]}}</td>
        <td>{{useritem[5]}}</td>
        <td><a href="/students/{{useritem[0]}}">個人成績を確認</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <p></p>
  <a href="/create_user">新しくユーザーを作成する</a>
</body>

</html>